:root{
  --primary-color: #308efc;
  --secondary-color: #44c4fb;
  --primary-gradient: linear-gradient(to top, var(--primary-color), var(--secondary-color));

  --orange-gradient: linear-gradient(to top, #ff9800, #ffc934);
  --red-gradient: linear-gradient(to top, #f44336, #ff8144);

  --text-color: black;
  --background-color: white;
  --border-color: #dddddd;

  --safe-area-inset-bottom: env(safe-area-inset-bottom);
}

.v-application a{
  text-decoration: none;
  color: var(--text-color);
}

.main-content{
  width: 600px;
  max-width: 100%;
  margin: auto;
  position: relative;
  height: 90vh;
  font-size: 14px;
}

.scroll-content{
  overflow: scroll;
  position: absolute;
  bottom: 0px;
  top: 0px;
  width: 100%;
}

.nav-padding-bottom, .v-application .nav-padding-bottom{
  padding-bottom: calc(56px + var(--safe-area-inset-bottom))  !important;
}


.nav-padding, .v-application .nav-padding{
  padding-bottom: calc(56px + var(--safe-area-inset-bottom))  !important;
  padding-top: 68px !important;
}

.v-item-group.v-bottom-navigation .v-btn{
  min-width: 75px !important;
}

.events-content{
  height: calc(100% - 56px - 63px);
}

.page-title{
  font-weight: bold;
  padding: 15px 20px;
  font-size: 22px;
  display: flex;
  border-bottom: 1px solid transparent;
  transition: border .2s ease;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;

  &:not(.no-fix){
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10;
    background-color: var(--background-color);
  }
}

.page-title-wrapper{
  width: 100%;
}

.page-title.scrolled{
  border-bottom-color: var(--border-color);
}

.user-info{
  color: var(--text-color);
}

.bottom-navigation{
  position: absolute;
  bottom: 0px;
  z-index: 5;
  border-top: 1px var(--border-color) solid;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  height: calc(56px + var(--safe-area-inset-bottom)) !important;
  padding-bottom: var(--safe-area-inset-bottom);
}

.v-application .bottom-navigation .v-btn.v-btn--disabled{
  background-color: transparent !important;
}

.v-application .bottom-navigation .v-btn{
  height: 56px;
}

.text-main{
  color: var(--text-color);
}

.center{
  text-align: center;
  margin: auto;
  display: block;
}

body{
  background: var(--background-color);
  height: 100%;
}

*{
  font-family: "Montserrat" !important;
}

.full-width{
  width: 100%;
  max-width: 800px;
  margin: auto;
}

.rainbow{
  background-image: var(--primary-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.v-application .primary{
  background-image: var(--primary-gradient);
}

.v-btn--disabled{
  background-image: none !important;
}

.v-application .orange{
  background-image: var(--orange-gradient);
}

.v-application .red{
  background-image: var(--red-gradient);
}

.v-application .v-chip.primary{
  background-image: var(--primary-gradient) !important;
}

.grade-chart{
  height: 200px;
}

.grade-chart rect{
  fill: var(--text-color);
  opacity: 0.1;
}

.primary .grade-chart rect{
  fill: #ffffff;
}

.grade-chart svg > rect{
  fill: transparent !important;
}

.grade-chart text{
  fill: var(--text-color);
}

.primary .grade-chart text{
  fill: #ffffff;
}

.google-visualization-tooltip text{
  fill: var(--text-color) !important;
}

.google-visualization-tooltip path{
  stroke: none;
  fill: var(--background-color) !important;
}

.quota-chart{
  display: block;
  width: 100%;
  margin: auto;
  max-width: 200px;
}

.quota-chart circle{
  cx: 50;
  cy: 50;
  r: 47;
  stroke: white;
  stroke-width: 6;
  stroke-dasharray: 609.5;
  transform: rotate(145deg);
  transform-origin: 50px 50px;
  fill: none;
  stroke-linecap: round;
}

.quota-chart .background{
  opacity: 0.2;
  stroke-dashoffset: 404;
}

.quota-chart .foreground{
  stroke-dashoffset: var(--final-dashoffset);
  animation: quota-chart-circle 1s ease;
}

@keyframes quota-chart-circle{
  0%{
    stroke-dashoffset: 404;
  }
  100%{
    stroke-dashoffset: var(--final-dashoffset);
  }
}

.quota-chart-period{
  opacity: 0.8;
  width: 100%;
  text-align: center;
}

.calendar{
  border: none !important;
  flex: 1;
  height: 100%;
}

.calendar-wrapper{
  display: flex;
  flex-direction: column;
  height: 100%;
}

.events-container{
  overflow: scroll;
  max-height: calc(100vh - 110px);
  height: 800px;
}

.v-current-time {
  height: 2px;
  background-color: #ea4335;
  position: absolute;
  left: -1px;
  right: 0;
  pointer-events: none;
}

.v-current-time.first::before{
    content: '';
    position: absolute;
    background-color: #ea4335;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-top: -5px;
    margin-left: -6.5px;
}

.calendar-select{
  width: 100px;
}

.v-calendar{
  background-color: transparent !important;
}

.theme--light .v-calendar-events .v-event-timed, .theme--dark .v-calendar-events .v-event-timed {
  border: none !important;
  box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.1);
}

.v-calendar-daily__head{
  height: 60px;
}

.v-calendar-daily__head .v-btn--fab.v-size--default{
  width: 30px;
  height: 30px;
}

.event-detail{
  max-width: 100%;
}

.bookstore-sheet{
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  // background-image: url("../images/bookstore-banner.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  cursor: pointer;
}

.birthday-card{
  text-align: center;
}

.birthday-card b{
  line-height: 1.2em;
}

.birthday-card .mdi-cake-variant::before{
  background: linear-gradient(319deg, #663dff 0%, #aa00ff 37%, #cc4499 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  display: inline;
  color: #663dff;
}

@media(max-width: 800px){
  .main-content{
    box-shadow: none !important;
    width: 100%;
    margin: 0px;
    height: auto;
    overflow: visible;
  }

  .page-title{
    border-radius: 0;
  }

  .page-title:not(.no-fix){
    background-color: var(--background-color);
    width: 100%;
    position: fixed;
    z-index: 10;
  }

  .bottom-navigation{
    position: fixed;
    bottom: 0;
    border-radius: 0 !important;
  }

  .nav-padding{
    padding-top: auto;
  }


  .scroll-content{
    position: relative;
    overflow: visible;
    height: auto;
  }

  .full-width{
    max-width: 100%;
  }

  .grade-chart{
    height: 30vw;
  }

  .v-dialog{
    min-width: 100vw;
    min-height: 100%;
    max-height: none !important;
    box-sizing: border-box;
    margin: 0px;
    top: 0px;
    left: 0px;
  }

  .v-dialog, .v-dialog > .v-card{
    height: 100%;
    overflow: scroll;
    width: 100vw;
    border-radius: 0px !important;
  }

  .events-content{
    height: calc(100vh - 56px - 63px);
  }
}

@media(prefers-color-scheme: dark){
  :root{
    --text-color: white;
    --background-color: #1e1e1e;
    --border-color: hsla(0,0%,100%,.12);
  }
}

.select-subject{
  padding-top: 10px;
}

.upcoming-grades{
  position: relative;
}

.remove-upcoming-grades{
  position: absolute;
  right: 5px;
  top: 5px;
}

.upcoming-grades-description{
  font-size: 12px;
  opacity: 0.8;
}
