*{
  cursor: none !important;
  pointer-events: none !important;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

*::-webkit-scrollbar {
  display: none;
}

body{
  font-size: 30px;
  overflow: hidden;
}

.slide{
  display: flex;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  cursor: none;
}

.slogan-text{
  font-size: 3em;
  font-weight: bold;
  line-height: 1.1em;
  text-align: left;
  width: 80%;
}

.slideUp-enter-active, .slideUp-leave-active{
  transition: opacity .8s ease, transform .8s ease;
}

.slideUp-enter{
  opacity: 0;
  transform: translateY(50%);
}

.slideUp-leave-to{
  opacity: 0;
  transform: translateY(-50%);
}

.scale-enter-active, .scale-leave-active {
  transition: opacity .5s ease, transform .5s ease;
  transition-delay: 0.5s;
}
.scale-enter, .scale-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
  transform: scale(0.8);
}

.signage-cover{
  position: relative;
  animation: cover-fadein 0.5s ease;
  width: auto;
  height: 40vh;
  margin-bottom: 0;
}

.signage-cover-wrapper{
  margin: auto;
}

.signage-item-preview{
  text-align: center;
  width: 65%;
  max-width: 1200px;
}

.item-title{
  font-size: 1.2em;
  line-height: 1.1em;
}

.item-authors{
  font-size: 0.8em;
  line-height: 1em;
  margin-top: 0.5em;
}

.item-info{
  transition: transform .4s ease;
}

.book .item-info{
  transform: translateY(2em);
}

.book-copies .item-info{
  transform: translateY(0px);
}

.price-info{
  opacity: 0;
  font-size: 1.2em;
  line-height: 1.1em;
  transition: opacity 1s ease;
  color: var(--primary-color);
  margin-top: 0.5em;
}

.book-copies .price-info{
  opacity: 1;
  font-weight: 600;
}

.end-card{
  text-align: center;
}

.end-title{
  font-size: 1.5em;
  font-weight: bold;
}

.end-subtitle{
  font-size: 1.1em;
}

.end-card img{
  height: 3em;
  margin: auto;
  margin-bottom: 0.4em;
}

.store-link{
  display: inline-block;
  background:
    linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
    linear-gradient(to right, var(--primary-color), var(--primary-color));
  background-size: 100% 0.15em, 0 0.15em;
  background-position: 100% 100%, 0% 100%;
  background-repeat: no-repeat;

  animation: storeLinkAnimation 1s ease;
  animation-delay: 2.5s;
}

@keyframes storeLinkAnimation{
  0%{
    background-position: 100% 100%, 0% 100%;
    background-size: 100% 0.15em, 0 0.15em;
  }

  49.9%{
    background-position: 100% 100%, 0% 100%;
    background-size: 0 0.15em, 100% 0.15em;
  }

  50%{
    background-position: 100% 100%, 100% 100%;
    background-size: 0 0.15em, 100% 0.15em;
  }

  100%{
    background-position: 100% 100%, 100% 100%;
    background-size: 100% 0.15em, 0% 0.15em;
  }
}

@media(max-width: 1000px){
  .signage-cover-wrapper{
    max-width: 100%;
  }

  body{
    font-size: 18px;
  }
}

@media(min-width: 1800px){
  body{
    font-size: 50px;
  }

  .signage-item-preview{
    max-width: 1200px;
  }
}
