body {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 22px;
  background-color: #EEEEEE;
  margin: 0px;
  padding: 0px;
  font-weight: 400;
}

h1 {
  font-size: 20px;
}

h2 {
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 0px;
  padding-bottom: 2px;
}

h3 {
  margin: 0px;
  padding-top: 2px;
  font-size: 15px;
}

.icon {
  width: 80px;
  height: 80px;
  display: block;
  margin-top: 40px;
  margin-bottom: 10px;
  position: absolute;
}

.monospace {
  font-family: "Roboto Mono", monospace;
}

.icon-side-text {
  padding-top: 20px;
  padding-left: 90px;
  display: block;
  box-sizing: border-box;
}

.center {
  display: block;
  margin: auto;
  text-align: center;
}

.container, .footer {
  max-width: 600px;
  margin: auto;
  display: block;
  box-sizing: border-box;
}

.container {
  padding: 30px;
  background-color: #FFFFFF;
}

.footer {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 14px;
  padding: 10px;
  color: #505050;
}

.footer a {
  color: #505050;
}

@media (max-width: 600px) {
  .container, .footer {
    max-width: 100%;
  }

  .icon-side-text {
    padding: 0px;
  }

  .icon {
    position: relative;
  }
}
.button {
  margin-top: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
  border-radius: 4px;
  text-transform: uppercase;
  color: black;
  padding: 10px;
  text-align: center;
  width: 100%;
  background-color: #EEEEEE;
  display: block;
  text-decoration: none;
  line-height: 1em;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.primary {
  background: linear-gradient(to top, #308efc, #44c4fb);
  color: white;
}

.item-cover {
  max-height: 350px;
  max-width: 95%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  margin: auto;
}

.item-title {
  margin-top: 20px;
  text-align: center;
}

.item-price {
  margin-top: 20px;
  margin-bottom: 15px;
  text-align: center;
}

.item-authors {
  color: #333333;
  font-weight: normal;
  text-align: center;
}

.logo {
  font-size: 17px;
  display: block;
  text-decoration: none;
  color: black;
  margin: auto;
  margin-bottom: 25px;
  min-width: 300px;
  text-align: center;
}

.logo img {
  display: block;
  margin: auto;
  width: 35px;
  height: 35px;
  margin-bottom: 5px;
}

.uid-large {
  font-size: 50px;
  font-family: "Roboto Mono", monospace;
  font-weight: 600;
  text-align: center;
  display: block;
  line-height: 50px;
  margin-top: 10px;
  margin-bottom: 40px;
}

.full-cover, .preview-cover, .cover-effect {
  position: relative;
  filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.3));
}
.full-cover:before, .preview-cover:before, .cover-effect:before {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.2) 2.5%, rgba(255, 255, 255, 0.2) 5.5%, rgba(255, 255, 255, 0)) 8%;
}
.full-cover:after, .preview-cover:after, .cover-effect:after {
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  color: black;
}
.full-cover img, .full-cover .v-image__image--cover, .full-cover:before, .preview-cover img, .preview-cover .v-image__image--cover, .preview-cover:before, .cover-effect img, .cover-effect .v-image__image--cover, .cover-effect:before {
  -webkit-clip-path: polygon(0 0, 1% 0, 2% 0.3%, 3% 0.3%, 4% 0, 100% 0, 100% 100%, 4% 100%, 3% 99.7%, 2% 99.7%, 1% 100%, 0 100%);
          clip-path: polygon(0 0, 1% 0, 2% 0.3%, 3% 0.3%, 4% 0, 100% 0, 100% 100%, 4% 100%, 3% 99.7%, 2% 99.7%, 1% 100%, 0 100%);
}
.full-cover.cover-effect, .preview-cover.cover-effect, .cover-effect.cover-effect {
  float: left;
  font-size: 0;
}

.cover-effect-wrapper {
  display: flex;
  justify-content: center;
}

.cover-fade-in-wrapper {
  transform-origin: center left;
  -webkit-animation: cover-fadein 0.5s ease;
          animation: cover-fadein 0.5s ease;
}

@-webkit-keyframes cover-fadein {
  from {
    transform: scale(0.8) rotateY(80deg);
  }
  to {
    transform: scale(1) rotateY(0deg);
  }
}

@keyframes cover-fadein {
  from {
    transform: scale(0.8) rotateY(80deg);
  }
  to {
    transform: scale(1) rotateY(0deg);
  }
}
